*
!fish/
!fish/**
!ghostty/
!ghostty/**
!nvim/
!nvim/**
!tmux/
!tmux/**
!zed/
!zed/**
!starship.toml
!llamacpp/
!llamacpp/**
!opencode/
!opencode/opencode.jsonc
!rmpc/
!rmpc/**
!mpd/
!mpd/**

!.gitattributes

