*
!fish/
!fish/**
!ghostty/
!ghostty/**
!nvim/
!nvim/**
!tmux/
!tmux/**
!zed/
!zed/**
!starship.toml
!llamacpp/
!llamacpp/**
!opencode/
!opencode/opencode.jsonc

!hyprland/
!hyprland/**

!hypr-omarchy/
!hypr-omarchy/**
